.main-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  padding: 2rem 10%;
  max-width: 1800px;
  margin: 0 auto;
  /* background-color: antiquewhite; */
}


.sidebar h3 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--primary);
  display: inline-block;
  /* background-color: aqua; */
}

.filter-group {
  margin-bottom: 2rem;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}

.filter-item input {
  accent-color: var(--primary);
  cursor: pointer;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  /* background-color: aqua; */
}

.sort-select {
  padding: 8px;
  border: 1px solid var(--border);
  outline: none;
  border-radius: 4px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  transition: var(--transition);
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  transform: translateY(-5px);
  cursor: pointer;
}

.product-image {
  height: 220px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-info {
  padding: 1.5rem;
}

.badge-category {
  font-size: 0.75rem;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.product-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 0 10px;
  color: var(--dark);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.2rem;
}

.btn-view-details {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: 18px;
}

.btn-view-details:hover {
  background: #1a1a1a;
  color: white;
  /* transform: scale(1.08); */
}
